:root {
    /* -------------- */
    --font-family: "Poppins", sans-serif;
    --second-family: "Roboto", sans-serif;
    /* -------------- */
    --first-light-color: rgba(255, 255, 255, 0.9);
    --second-light-color: #fdf5ff;
    --third-light-color: #fff;
    --fourth-light-color: #ffa537;
    --fifth-light-color: #ff6e30;
    --sixth-light-color: rgba(255, 255, 255, 0.8);
    /* -------------- */
    --first-shadow-color: rgba(255, 255, 255, 0.55);
    --second-shadow-color: rgba(255, 255, 255, 0.78);
    --third-shadow-color: rgba(255, 255, 255, 0.38);
    --fourth-shadow-color: rgba(255, 165, 55, 0.55);
    --fifth-shadow-color: rgba(255, 253, 253, 0.55);
    --sixth-shadow-color: rgba(255, 253, 253, 0.78);
    /* -------------- */
    --first-background-color: #1e252b;
    --second-background-color: rgba(40, 48, 54, 0.6);
    --third-background-color: rgba(44, 53, 61, 0.2);
    --fourth-background-color: rgba(40, 48, 54, 0.2);
    --fifth-background-color: rgba(40, 48, 54, 0.4);
    --sixth-background-color: rgba(255, 255, 255, 0.03);
    --seventh-background-color: rgba(40, 48, 54, 0.3);
    --eighth-background-color: #b345f1;
    --ninth-background-color: #283036;
    --tenth-background-color: #007acc;
    --eleventh-background-color: rgba(255, 110, 48, 0.7);
    /* -------------- */
    --border-color: rgba(255, 255, 255, 0.15);
    --second-border-color: rgba(255, 255, 255, 0.1);
}

body {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--first-shadow-color);
    background-color: var(--first-background-color);
}

.container {
    width: 1224px;
    margin: 0 auto;
    outline: 1px solid red;
}

/* ------------------------------ */

.logo {
    font-weight: 600;
    font-size: 22px;
    color: var(--first-light-color);
}

.nav-link {
    color: var(--first-shadow-color);
}

.auth-link {
    font-weight: 600;
    opacity: 0.78;
    color: var(--second-shadow-color);
}

.hero-title {
    font-size: 50px;
    line-height: 140%;
    color: var(--first-light-color);
}

.hero-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
}

.hero-form {
    display: flex;
    border-radius: 15px;
    width: 497px;
    height: 64px;
    padding-left: 18px;
    padding-right: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--ninth-background-color);
}

.input {
    flex-grow: 1;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    color: var(--third-shadow-color);
    background-color: var(--ninth-background-color);
}

.button {
    border-radius: 8px;
    width: 130px;
    height: 48px;
    background: var(--fifth-light-color);
    font-weight: 600;
    color: var(--third-light-color);
}

.section-title {
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: var(--first-light-color);
}

.section-description {
    font-size: 18px;
    line-height: 167%;
    text-align: center;
}

.card-title {
    font-size: 24px;
    color: var(--second-shadow-color);
}

.card-price {
    font-weight: 400;
    font-size: 18px;
    color: var(--fourth-shadow-color);
}

.card-description {
    font-weight: 400;
    line-height: 187%;
}

.card-link {
    font-weight: 600;
    color: var(--first-shadow-color);
}

.popular-tools-button {
    display: block;
    margin: 0 auto;
    border: 1px solid var(--second-border-color);
    border-radius: 8px;
    width: 184px;
    height: 64px;
    font-size: 20px;
    color: var(--fifth-light-color);
    background-color: var(--first-background-color);
}

.trusted-title {
    font-size: 24px;
    color: var(--sixth-light-color);
    text-align: center;
}

.newcomer-title {
    font-size: 48px;
    line-height: 130%;
    color: var(--first-light-color);
}

.newcomer-description {
    font-size: 18px;
    line-height: 167%;
}

.newcomer-button {
    border-radius: 8px;
    width: 198px;
    height: 58px;
    background-color: var(--fifth-light-color);
    font-size: 18px;
    color: var(--third-light-color);
}

.our-team-name {
    font-size: 26px;
    letter-spacing: 0.01em;
    color: var(--sixth-shadow-color);
}

.our-team-job {
    font-weight: 400;
    color: var(--fifth-shadow-color);
}

.our-team-description {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 0.01em;
    color: var(--second-shadow-color);
}

.contributor-form {
    display: flex;
    border-radius: 15px;
    width: 549px;
    padding-left: 24px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 64px;
    background-color: var(--ninth-background-color);
}

.footer-copyright {
    color: var(--first-light-color);
}

.footer-description {
    font-size: 14px;
    line-height: 179%;
}

.item-title {
    font-size: 20px;
    color: var(--first-light-color);
}

.item-link {
    color: var(--first-shadow-color);
}